<html>
    <head>
        <title>{% block head_title %}Welcome to my Articles{% endblock %}</title>
		<link rel="stylesheet" href="articles/style.css" type="text/css"/>
    </head>
    <body>
		<img src="http://localhost:8000/static/upload/butterfly.jpg" width="100%" height="30%"
		
		<aside class = "sideInfo">
			<article class="content">
			<h1>Latest</h1>
			<a href="http://abc.com" title="the most haooening people"> <img src="http://localhost:8000/static/upload/sidebar_img.jpg"></a>
			<a href='#' title="what's the latest cricketing gadget">What's the latest cricketing gadget?</a>
			<a href='#' title="the new bowling acitons">The New Bowling Actions</a>
			</article>
	</aside>
		<div class="mainContent">
			<div class="content"
				{% block content %}

				{% endblock %}
			</div>
		</div>
    </body>
</html>